<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
         .ticket {
            width: 950px;
            background-size: 950px 375px;
         }
         .ticket .ticket__inner {
            width: 760px;
         }
         .ticket-secondary,
         .ticket-primery {
            padding-left: 30px;
            padding-right: 35px;
         }
         .ticket-position {
            display: inline-block;
            overflow: hidden;
         }
         .ticket .indecator--pre {
            margin-right: -3px;
         }
         .ticket .ticket__indecator {
            position: relative;
            border: 3px solid #dbdee1;
            width: 50px;
            float: left;
            height: 300px;
            font-family: 'PT Mono';
            font-size: 12px;
            color: #dbdee1;
         }
         .ticket .pre--text {
               transform: rotate(90deg) translateZ(0);
               margin-top: 137px;
               left: -26px;
         }
         .ticket .indecator-text {
            position: absolute;
            width: 100px;
         }
         .ticket .indecator-text:before {
            content: '';
            background-repeat: no-repeat;
            width: 80px;
            height: 16px;
            position: absolute;
            top: 0px;
            left: -95px;
         }
         .ticket .indecator-text:after {
            content: '';
            background-repeat: no-repeat;
            width: 80px;
            height: 16px;
            position: absolute;
            top: 0px;
            right: -95px;
         }
         .ticket .ticket__inner {
            border: 3px solid #dbdee1;
            overflow: hidden;
            float: left;
            height: 300px;
            width: 820px;
         }
         .ticket-secondary {
            float: left;
            text-align: left;
            padding: 47px 80px 30px 60px;
         }
         .ticket .ticket__item {
            display: block;
            margin-bottom: 10px;
            font-family: 'PT Mono';
            font-size: 14px;
            text-transform: uppercase;
            text-align: left;
         }
         .ticket .ticket__date, .ticket .ticket__time {
            display: inline-block;
            margin-right: 30px;
            margin-top: 30px;
         }
         .ticket .ticket__price {
            margin-top: 40px;
         }
         .ticket-primery {
            overflow: hidden;
            border-left: 3px double #dbdee1;
            margin-top: 37px;
            padding: 27px 35px 22px 30px;
         }
         .ticket .ticket__film {
            border-bottom: 1px solid #dbdee1;
            padding-bottom: 44px;
            margin-bottom: 28px;
         }
         .ticket .ticket__item--primery {
            font-size: 20px;
         }
         .ticket .ticket__movie {
            text-transform: none;
         }
         .ticket .ticket__place {
            color: #fe505a;
         }
         .mt-2{
             margin-top: 0.5rem !important;
         }
         .table-bordered {
            border: 1px solid #dee2e6;
         }
         .table {
                width: 100%;
                margin-bottom: 1rem;
                color: #212529;
         }
         .table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
            <div class="ticket">
                    <div class="ticket-position">
                        <div class="ticket__indecator indecator--pre"><div class="indecator-text pre--text">online ticket</div> </div>
                        <div class="ticket__inner">

                            <div class="ticket-secondary">
                                <span class="ticket__item" data-order-id = "<%= @this_order.id %>">Mã hóa đơn : <strong class="ticket__number"><%= @this_order.id %> </strong></span>
                                <span class="ticket__item ticket__date"><%= @this_order.seat_orders.last.screening.start_film_at.strftime("%d/%m/%Y") %></span>
                                <span class="ticket__item ticket__time"><%= @this_order.seat_orders.last.screening.start_film_at.strftime("%H:%M") %></span>
                                <span class="ticket__item">Phòng chiếu: <span class="ticket__cinema"><%= @this_order.seat_orders.last.screening.room.name %></span></span>
                                <span class="ticket__item">CGV: <span class="ticket__hall">Hà Nội</span></span>
                                <span class="ticket__item ticket__price mt-2">LOại vé : <strong class="ticket__cost"><%= @this_order.seat_orders.last.seat.seat_type.name %>(<%= @this_order.seat_orders.last.seat.seat_type.price %> vnđ/Vé)</strong></span>
                                <span class="ticket__item ticket__price mt-2">Thời gian  order : <strong class="ticket__cost"><%= @this_order.created_at.in_time_zone("Asia/Ho_Chi_Minh").strftime("%H:%M %d/%m/%Y") %></strong></span>
                            </div>

                            <div class="ticket-primery">
                                <span class="ticket__item ticket__item--primery ticket__film pb-3">Film<br><strong class="ticket__movie"><%= @this_order.seat_orders.last.screening.film.name %></strong></span>
                                <span class="ticket__item ticket__item--primery">SỐ ghế:
                                    <span class="ticket__place mb-2">
                                        <% @list_seat_of_order.each do |seat| %>
                                            <%= seat %>
                                        <% end %>
                                    </span>
                                    <span class="ticket__item ticket__item--primery pt-3">Tổng:
                                        <span class="ticket__place mb-2">
                                            <%= @this_order.total_payment - @pay_food  %> (Đã thanh toán)
                                        </span>
                                    </span>
                                </span>
                            </div>


                        </div>
                        <div class="ticket__indecator indecator--post"><div class="indecator-text post--text">online ticket</div></div>
                    </div>
                </div>
                <% if @this_order.foodorders.present? %>
                    <div class="ticket">
                        <div class="ticket-position">
                            <div class="ticket__indecator indecator--pre"><div class="indecator-text pre--text">online ticket</div> </div>
                            <div class="ticket__inner">

                                <div class="ticket-secondary">
                                    <span class="ticket__item" data-order-id = "<%= @this_order.id %>">Mã hóa đơn : <strong class="ticket__number"><%= @this_order.id %> </strong></span>
                                    <span class="ticket__item ticket__date"><%= @this_order.seat_orders.last.screening.start_film_at.strftime("%d/%m/%Y") %></span>
                                    <span class="ticket__item ticket__time"><%= @this_order.seat_orders.last.screening.start_film_at.strftime("%H:%M") %></span>
                                    <span class="ticket__item">Phòng chiếu: <span class="ticket__cinema"><%= @this_order.seat_orders.last.screening.room.name %></span></span>
                                    <span class="ticket__item">CGV: <span class="ticket__hall">Hà Nội</span></span>
                                    <span class="ticket__item ticket__price">Thời gian  order : <strong class="ticket__cost"><%= @this_order.created_at.in_time_zone("Asia/Ho_Chi_Minh").strftime("%H:%M %d/%m/%Y") %></strong></span>
                                </div>

                                <div class="ticket-primery mt-3" >
                                    <span class="ticket__item ticket__item--primery ticket__film m-0 p-0">ĐỒ ăn của bạn<br>
                                        <strong class="ticket__movie">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th >Tên </th>
                                                        <th >Số lượng</th>
                                                        <th >Đơn giá (vnđ)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <% @this_order.foodorders.each do |foodorder| %>
                                                    <tr>
                                                        <td class="p-1"><%= foodorder.food.name %></td>
                                                        <td class="p-1"><%= foodorder.quantity %></td>
                                                        <td class="p-1"><%= foodorder.food.price %></td>
                                                    </tr>
                                                
                                                <% end %>
                                                </tbody>
                                            </table>
                                        
                                        </strong>
                                    </span>
                                    <span class="ticket__item ticket__item--primery pt-3">Tổng:
                                        <span class="ticket__place">
                                            <%= @pay_food  %> (Đã thanh toán)
                                        </span>
                                    </span>
                                </div>


                            </div>
                            <div class="ticket__indecator indecator--post"><div class="indecator-text post--text">online ticket</div></div>
                        </div>
                    </div>
                <% end %>
  </body>
</html>