
<!-- Main content -->
<section class="container">
   <div class="col-sm-12">
         <% if params[:q] %>
                 <h2 class="pl-0 page-heading"><i class="fas fa-search"></i>
                 Kết quả tìm kiếm cho từ khóa của bạn.
                  </h2>
        
         <div class="row">
            
                <% @films.each do |film | %>
                     <div class="col-sm-4 col-md-3">
                            <div class="gallery-item">
                                <a href='<%= film.trailer_link %>' class="trailer-sample gallery-item__image gallery-item--photo">
                                    <img src="<%= film.image_url %>" style = "height:350px;width:400px">
                                </a>
                                <a href='<%= film_path(film) %>' class="gallery-item__descript gallery-item--photo-link">
                                    <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                    <p class="gallery-item__name">Đặt vé ngay !</p>
                                </a>
                             
                            </div>
                      </div>
                <% end %>
        </div>
        <% if  @films.any? %>
            <h2 class="pl-0 page-heading"><i class="fas fa-video mr-3"></i>Phim đang chiếu</h2>
                <div class="row">
                     <% Film.all.limit(4).each do |film | %>
                        <div class="col-sm-4 col-md-3">
                                <div class="gallery-item">
                                    <a href='<%= film.trailer_link %>' class="trailer-sample gallery-item__image gallery-item--photo">
                                        <img src="<%= film.image_url %>" style = "height:350px;width:400px">
                                    </a>
                                    <div  style="height:40px"> <strong class="text-center w-100"><%= film.name %></strong></div>
                                    <p class="mb-0"><strong>Thời lượng: </strong><%= film.time %> Phút</p>
                                    <p><strong>Khởi chiếu: </strong><%= film.release_date.to_date.strftime("%d/%m/%Y") %> </p>
                                    <div>
                                        <a href='<%= film_path(film) %>' class=" gallery-item__descript gallery-item--photo-link">
                                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                                            <p class="gallery-item__name">Đặt vé ngay !</p>
                                        </a>
                                    </div>
                                </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% else %>
            <section class="container">
                <h2 class="p-0 page-heading px-4"><i class="fas fa-video"></i> Phim HOT</h2>

                <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
                    <div class="tags-area">
                        <div class="tags tags--unmarked">
                            <span class="tags__label">Sorted by:</span>
                                <ul>
                                    <li class="item-wrap"><a href="#" class="tags__item item-active" data-filter="all">all</a></li>
                                    
                                    <li class="item-wrap"><a href="#" class="tags__item" data-filter="phim_hai">Phim hài</a></li>
                                    <li class="item-wrap"><a href="#" class="tags__item" data-filter="phim_hanh_dong">Phim hành động</a></li>
                                    
                                </ul>
                        </div>
                    </div>
                    
                    <!-- Movie preview item -->
                    <% @films.each do |film | %>
                        <div class="movie movie--preview <%= film.film_type_id == 1 ? "phim_hai" : "phim_hanh_dong" %>" style="display: block;">
                            <div class="col-sm-5 col-md-3">
                                    <div class="movie__images">
                                        <img alt="" src="<%= film.image_url %>" style="height:250px">
                                    </div>
                                
                            </div>

                            <div class="col-sm-7 col-md-9">
                                    <a href="<%= film_path(film) %>" class="movie__title link--huge"><%= film.name %></a>

                                    <p class="movie__time"><%= film.time %></p>

                                    <p class="movie__option"><strong>Quốc gia: </strong><%= film.country %></p>
                                    <p class="movie__option"><strong>Thể loại: </strong><%= film.film_type.name %></p>
                                    <p class="movie__option"><strong>Ngày công chiếu: </strong><%= film.release_date %></p>
                                    <p class="movie__option"><strong>Đạo diễn: </strong><%= film.director %></p>
                                    <p class="movie__option"><strong>Diễn viên: </strong><%= film.actors %></p>
                                    <p class="movie__option"><strong>Giới hạn độ tuổi: </strong>PHIM CẤM KHÁN GIẢ DƯỚI <%= film.age_limit %> TUỔI</p>

                                    <div class="movie__btns">
                                    
                                        <a href="<%= film_path(film) %>" class="watchlist">Đặt vé ngay!</a>
                                    </div>

                            </div>
                        </div>
                    <% end %>
                    <!-- end movie preview item -->
                </div>
                        
                <aside class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
                    <div class="sitebar sitebar--left">
                        <div class="banner-wrap first-banner--left">
                            <img alt="banner" src="https://www.cgv.vn/media/wysiwyg/2021/U22_WEB_350x495.jpg">
                        </div>

                        <div class="banner-wrap">
                            <img alt="banner" src="https://www.cgv.vn/media/wysiwyg/2021/032021/momo-godzilla-kong_350x495.jpg">
                        </div>

                        <div class="banner-wrap banner-wrap--last">
                            <img alt="banner" src="https://www.cgv.vn/media/wysiwyg/2021/032021/CGV_1k_350x495.jpg">
                        </div>
                        <div class="category category--cooming category--count marginb-sm mobile-category rs-cat">
                            <h3 class="category__title">Phim đang <br><span class="title-edition">CHIẾU</span></h3>
                            <ol>
                                <% @films.each do |film | %>
                                    <li><a href="<%= film_path(film) %>" class="category__item"><%= film.name %></a></li>
                                <% end %>
                            </ol>
                        </div>
                    </div>
                </aside>

        </section>
        <% end %>
    </div>
</section>
<section class="container py-4">
        <h2 class="pl-0 page-heading"><i class="fas fa-gift mr-3"></i>Event</h2>
                <div class="row">
                    
                        <div class="col-sm-4 col-md-3">
                               <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/n/9/n95_240x201_1.jpg">
                        </div>
                        <div class="col-sm-4 col-md-3">
                               <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/h/a/happy-new-year-240x201_1.png">
                        </div>
                        <div class="col-sm-4 col-md-3">
                               <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/d/o/doreamon_web_app_240x201.jpg">
                        </div>
                        <div class="col-sm-4 col-md-3">
                               <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv-crm-team-chi-1-duoc-2-240x201_1.jpg">
                        </div>
                </div>
</section>