<section class="container d-flex align-items-center">
    <div class="col-sm-7 col-md-8"> 
        <div class="movie" data-phim="<%= @this_film.id %>">
            <h2 class="page-heading p-0 text-uppercase font-weight-bold "><i class="fas fa-film mr-3"></i><%= @this_film.name %></h2>
            
            <div class="movie__info">
                <div class="col-sm-6 col-md-6 movie-mobile">
                    <div class="movie__images">
                        <span class="movie__rating">5.0</span>
                        <img alt='' src="<%= @this_film.image_url %>" style = "height:350px;width:400px">
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                        <p class="movie__time"><%= @this_film.time %></p>

                        <p class="movie__option"><strong>Quốc gia: </strong><%= @this_film.country %></p>
                        <p class="movie__option"><strong>Thể loại: </strong><%= @this_film.film_type.name %></p>
                        <p class="movie__option"><strong>Ngày công chiếu: </strong><%= @this_film.release_date %></p>
                        <p class="movie__option"><strong>Đạo diễn: </strong><%= @this_film.director %></p>
                        <p class="movie__option"><strong>Diễn viên: </strong><%= @this_film.actors %></p>
                        <p class="movie__option"><strong>Giới hạn độ tuổi: </strong>PHIM CẤM KHÁN GIẢ DƯỚI <%= @this_film.age_limit %> TUỔI</p>

                    <a href="#" class="comment-link">Comments:  15</a>
                    <div class="social social--hide" style="margin-top:30px;">
                        <span class="social__name">Share:</span>
                        <a href="#" class="social__variant social--first fa fa-facebook"></a>
                        <a href="#" class="social__variant social--second fa fa-twitter"></a>
                        <a href="#" class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-md-4">
        <div class="order-container">
            <div class="order">
                <img class="order__images" alt='' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZTVSDZKmgMXm-oOut2qcmdsFUiCPEynWsZVSPjlfml78-kPkqw4lk_gMVNpKiEiCKG4Q&usqp=CAU">
                <p class="order__title font-weight-bold">Mua vé <br><span class="order__descript font-italic">Và tận hưởng phim ngay!</span></p>
            </div>
        </div>
    </div>
</section>
<section class="container pt-5">
            <div class="order-step-area">
                <div class="order-step first--step">1. Chọn suất chiếu</div>
            </div>

</section>
    
<section class="container">
    <div class="col-sm-12">

         <div class="col-sm-8 col-md-9">
                <h2 class="page-heading p-0 text-uppercase font-weight-bold "><i class="fas fa-film mr-3"></i>Suất chiếu trong tuần</h2>
                    <div id="showtimes"><div class="showtimes">
                        <div class="btn-group btn-block showtime-dates mb-3 d-lg-inline-flex" id="dates" style="position: relative;vertical-align: middle;">
                                <% 7.times do |day| %>
                                         <a class="btn btn-light text-muted  day_show_film <%= ((Time.now.to_date+day).strftime("%d/%m") == (Time.now.to_date).strftime("%d/%m"))? "active" : "" %>" data-date="<%= (Time.now.to_date+day).strftime("%d/%m/%Y")%>">
                                            <%= (Time.now.to_date+day).strftime("%d/%m")%>
                                            <br><span class="small text-nowrap"><%= (Time.now.to_date+day).strftime("%a")%></span>
                                         </a>
                                <% end %>
                         </div>
                        <div class="card card-sm">
                            <% if @screenings %>
                                <div class="time-select card-body" id = "show_screen_of_film">
                                    <%= render partial: "screen/filter_screen" %>
                                     <div class="choose-indector choose-indector--time">
                                        <strong>Phim: <%= @this_film.name %> Thời gian : </strong><span class="choosen-area"> </span>
                                    </div>
                                </div>
                            <% else %>
                                <div class="card-body">
                                        Chưa có lịch chiếu cho ngày này. Hãy quay lại sau. Xin cám ơn.
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
           
    </div>

</section>
 <div class="clearfix"></div>
<form id='film-and-time' class="booking-form" method='get' action='book_a_seat'>
    <input type='text' name='choosen-movie' class="choosen-movie">

    <input type='text' name='choosen-city' class="choosen-city">
    <input type='text' name='choosen-date' class="choosen-date">
    
    <input type='text' name='choosen-cinema' class="choosen-cinema">
    <input type='text' name='choosen-time' class="choosen-time">


    <div class="booking-pagination">
            <a href="#" class="booking-pagination__prev hide--arrow">
                <span class="arrow__text arrow--prev"></span>
                <span class="arrow__info"></span>
            </a>
            <a href="#" id="next_step_pick_seat" class="booking-pagination__next">
                <span class="arrow__text arrow--next">Bước tiếp theo</span>
                <span class="arrow__info">Chọn ghế ngồi</span>
            </a>
    </div>

</form>