<div class="border p-5">
  <div class="p-3 text-center mb-3">
    <div class="mt-1">
      <a href="/">
        <img src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png">
      </a>
      
    </div>
  </div>

  <div class="we-login-register p-5"> 
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="f-email ">
                  <%= f.text_field :email, autofocus: true, autocomplete: "email" , placeholder: 'Phone number, username, or email' %>
                  <p class="reset-magin error-mes">.</p>
          </div>

      
          <div class="f-pass">
                  <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %> 
                  <p class="reset-magin error-mes">.</p><br>
          </div>
            
       
          <div class="actions">
              <button type="submit" class="btn-submit" data-ripple="">Log In</button>
          </div>
      <% end %>
       <div class="text-center my-3"> 
          <span class="text-center "> OR </span>
      </div>

      <%= render "devise/shared/links" %>
  </div>
</div>

<div class="text-center border mt-5 py-5">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <span>Don't have an account? </span>
        <%= link_to "Sign up", new_registration_path(resource_name), class: "w-75 sign-up-link" %><br />
    <% end %>
</div>